.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form__btn {
  display: flex !important;
  flex-direction: row !important;
}

.MuiFormControl-root {
  padding: 5px 0 !important;
}

.MuiAppBar-colorPrimary {
  margin-bottom: 20px;
}

/*
* link in top nav
*/
.header-line .MuiButtonBase-root span.MuiIconButton-label {
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.header-line .MuiButtonBase-root span.MuiIconButton-label:hover {
  border: 1px solid rgba(255, 255, 255, .8);
}

/*
* link in top navigation panel
*/
nav.MuiTypography-root {
  margin-bottom: 15px ;
}